@import './base.css';

#app {
  font-weight: normal;

  display: flex;
  flex-direction: column;
}

.orange-button-color {
  background-color: #AE803E !important;
  border-color: #AE803E !important;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.info-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-recipe-img {
  margin-right: 5px;
}